<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Username:</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      required
      #usernameInput="ngModel"
    />
    <div
      *ngIf="usernameInput.invalid && usernameInput.touched"
      style="color: red"
    >
      Username is required.
    </div>
  </div>

  <div>
    <label>Email:</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      required
      pattern=".+@gmail\.com$"
      #emailInput="ngModel"
    />
    <div
      *ngIf="emailInput.invalid && emailInput.touched"
      style="color: red"
    ></div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
